{
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 120,
	"useTabs": true,
	"trailingComma": "none",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
